/*  samsung sub  */
@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/*  
font-family: 'Roboto', sans-serif;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'NanumBarunGothicExtraLight';
font-family: 'NanumBarunGothicLight';
font-family: 'NanumBarunGothic';
font-family: 'NanumBarunGothicBold';
*/

/*  common  */
body{height: 100vh;font-size: 20px;font-family:'NanumBarunGothic';color: #000;}
a{color: #000;text-decoration: none;}

/*  layout  */
body{background: #deebff;}
    #container{width: 100%;height: 100%;box-sizing: border-box;}

/*  container  */

.content1{position: relative;top: 80px;left: 0;box-sizing: border-box;}
.txt_box{width: 458px; margin: 13% 0 0 7%; box-sizing: border-box;}
.txt_box > h3{position: relative;margin-bottom: 60px;width: 200px; font-size: 2.25em;font-weight: bold;opacity: 0;animation: text2 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s forwards;}
.txt_box > p{position: relative;font-size: 1em;line-height: 2rem;opacity: 0;animation: text2 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s forwards;}
.txt_box > p > span{display: inline-block;position: relative;}
.txt_box > p > span:before{content: "";display: block;position: absolute;bottom: 0;width: 100%;height: 50%;background: #ffc743;opacity: 0.3;}

.txt_box > h3:before{content: "";display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #fff;transform: scaleX(0);animation: text 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;}
.txt_box > p:before{content: "";display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #fff;transform: scaleX(0);animation: text 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;}

/* .click{opacity: 0;animation: text2 .5s linear 2s forwards;}
.click > p{position: absolute;top: 240px;left: 750px; width: 70px;height: 30px; font-size: 1.5rem;font-family: 'Roboto', sans-serif;font-weight: bold; color: #ec5c28;letter-spacing: 2.74px;} */
/* .click > p:after{content: "";display: block;overflow: hidden; position: absolute;top: 15px ;right: -480px;z-index: ; width: 0;height: 3px;background: #ec5c28; animation: clickLine 1s linear 1.5s forwards;} */
/* .line{ position: absolute;top: 255px;left: 830px; z-index: 10; width: 470px;height: 3px;background: #ec5c28; transform: scaleX(0);animation: line 1s linear 2.5s forwards;} */

/* @keyframes line {
    0%{transform-origin: left;transform: scaleX(0);}
    100%{transform-origin: left;transform: scaleX(1);}
} */

@keyframes text {
    0%{transform-origin: left;transform: scaleX(0);}
    50%{transform-origin: left;}
    51%{transform-origin: right;transform: scaleX(1);}
    100%{transform-origin: right;transform: scaleX(0);}
}

@keyframes text2 {
    0%{opacity: 0;}
    50%{opacity: 0;}
    51%{opacity: 1;}
    100%{opacity: 1;}
}

.img_box{position: absolute;top: -230px;right: 260px;width: 530px;height: 830px; background: url(../images/mokup_sub.png) no-repeat;opacity: 0;animation: img 0.5s linear 1.5s forwards;}
.img_box > ul{position: absolute;top: 111px; left: 89px;}
.img_box > ul > li{display: none; position: absolute; width: 345px;height: 240px;text-indent: -9999px;overflow: hidden;transition: all 0.5s linear 0s;}
.img_box > ul > li:hover{z-index: 10; transform: scale(1.5);}
.img_box > ul > li.on{display: block;}

.img_box > ul > li:nth-child(1){background: url(../images/samsung_html.png);}
.img_box > ul > li:nth-child(2){background: url(../images/samsung_css.png);}
.img_box > ul > li:nth-child(3){background: url(../images/samsung_web.png);}

.img_box > div{display: flex;margin: 445px 0 0 180px;}
.img_box > div > div{position: relative;width: 80px;height: 80px;margin-right: 32px; border-radius: 50%;background: url(../images/btn_sub.png) no-repeat 0 0;
                    box-shadow: 2px 2px 5px 5px rgba(251,251,251,0), -2px -2px 5px 5px rgba(251,251,251,0);}
.btn_html{animation: shadow 4s linear 4s infinite;}
.btn_css{animation: shadow 4s linear 5s infinite;}
.btn_web{animation: shadow 4s linear 6s infinite;}
                    
.img_box > div > div > a{display: block;padding-left: 5px;border-radius: 50%; line-height: 80px;text-align: center;font-family: 'Roboto', sans-serif;font-weight: bold;transition: color 0.4s linear 0s;}
.img_box > div > div:hover{background: url(../images/btn_sub_r.png) no-repeat;}
.img_box > div > div:hover > a{color: #fff;}

@keyframes img {
    0%{opacity: 0;transform: translateX(100px);}
    100%{opacity: 1;transform: translateX(0);}
}

@keyframes shadow {
    0%{box-shadow: 2px 2px 5px 5px rgba(251,251,251,0), -2px -2px 5px 5px rgba(251,251,251,0) ;}
    20%{box-shadow: 2px 2px 5px 10px rgba(251,251,251,0.4), -2px -2px 5px 10px rgba(251,251,251,0.4);}
    40%{box-shadow: 2px 2px 5px 5px rgba(251,251,251,0), -2px -2px 5px 5px rgba(251,251,251,0) ;}
    60%{box-shadow: 2px 2px 5px 10px rgba(251,251,251,0.4), -2px -2px 5px 10px rgba(251,251,251,0.4);}
    80%{box-shadow: 2px 2px 5px 5px rgba(251,251,251,0), -2px -2px 5px 5px rgba(251,251,251,0) ;}
    100%{box-shadow: 2px 2px 5px 5px rgba(251,251,251,0), -2px -2px 5px 5px rgba(251,251,251,0) ;}
}